<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <link rel="icon" href="../img/icon.gif">
    <title>Forgot Password</title>
</head>
<body style="background-color: #f9f9f9;" ng-app="forgotPasswordApp" ng-controller="forgotPasswordController">
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand text-dark" href="#" style="font-size: x-large;"><img src="../img/icon.gif" height="10%" width="10%;">WolfShare</a>
</nav>
<div class="container">
    <div class="row" style="padding-top: 15%;">
        <div class="offset-md-3">
            <div class="card border-danger z-depth-3 text-white" ng-hide="allTrue"style="height: 100%;width: 150%; border-radius: 0;">
                <div class="card-header bg-danger text-dark" style="border-radius: 0;">Forgot password</div>
                <div class="card-body" >
                    <label for="email" style="color: black;">Email</label>
                    <input type="text" class="form-control" placeholder="Enter email" name="email" ng-model="forgotPasswordEmail" style="border-radius: 0;">
                    <p class="text-danger" style="font-size:small;">Please enter the email which you used to register</p>
                </div>
                <div class="card-footer bg-transparent" style="border-top: 0; text-align: center">
                    <p class="text-danger" style="font-size:small;" ng-show="emailRequiredError">Please enter the valid email id</p>
                    <p class="text-danger" style="font-size:small;" ng-show="userNotExists">Email id didn't match any of our records</p>
                    <button class="btn btn-outline-danger btn-lg rounded-0" ng-click="checkForgotPasswordValidation()" style="border-radius: 0">Continue</button>
                </div>
            </div>
            <div class="card border-danger z-depth-3 text-white" ng-show="allTrue" style="height: 100%;width: 150%; border-radius: 0;">
                <div class="card-header bg-danger text-dark" style="border-radius: 0;">Reset Password</div>
                <div class="card-body" >
                    <label for="password" style="color: black;">Enter New Password</label>
                    <input type="Password" class="form-control" placeholder="New Password" name="password" ng-model="newPassword" style="border-radius: 0;">
                    <p class="text-danger" style="font-size:small;" ng-show="newPasswordNull">*</p>
                    <label for="resetPassword" style="color: black;">Confirm New Password</label>
                    <input type="Password" class="form-control" placeholder="Confirm Password" name="resetPassword" ng-model="resetPassword" style="border-radius: 0;">
                    <p class="text-danger" style="font-size:small;" ng-show="resetPasswordNull">*</p>
                    <label for="secCode" style="color: black;">Enter Security Code</label>
                    <input type="text" class="form-control" placeholder="Security Code" name="secCode" ng-model="secCode" style="border-radius: 0;">
                    <p class="text-danger" style="font-size:small;">Enter Security Code sent to your registered email</p>
                    <p class="text-danger" style="font-size:small;" ng-show="passwordMismatchError">Passwords don't match</p>
                </div>
                <div class="card-footer bg-transparent" style="border-top: 0; text-align: center">
                    <button class="btn btn-outline-danger btn-lg rounded-0" ng-click="checkResetPasswordValidation()" style="border-radius: 0">Reset Password</button>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- Then include bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-cookies.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script type="text/javascript" src="/BookSharingApplication/BookSharingApplication/controller/forgotPasswordController.js"></script>
</body>
</html>