<div class="row" ng-show="noBooks" style="padding-top: 5%;">
    <div class="container text-danger" style="text-align: center;">
        <h2 class="display-3">You have not lent any books</h2>
    </div>
</div>
<div class="row" ng-hide="noBooks">
    <div class="col-md-6" ng-repeat="book in lentBooks" style="padding: 1%;">
        <div class="card border-dark rounded-0 z-depth-3 animated bounceIn">
            <div class="card-header rounded-0" style="background-color: black; color: white;">{{book.title}}</div>
            <div class="card-body text-dark">
                <h5 class="card-title">Author:&nbsp;{{book.author}}</h5>
                <p class="card-text">Genre:&nbsp;{{book.genre}}</p>
                <p class="card-text">Borrowed by: {{book.borrower_email}}</p>
                <button type="button" class="btn btn-outline-danger rounded-0" ng-show="book.lender_review_approve=='0'" data-toggle="modal" data-target="#exampleModalCenter">Give Book Review</button>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content rounded-0 border-dark">
                    <div class="modal-header rounded-0" style="background-color: black;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: white;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 border-right border-dark">

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-hide="requestSentSuccessfully">
                        <button type="button" class="btn btn-outline-danger rounded-0" ng-click="sendBorrowRequest(bookData.bookId)">Submit Review</button>
                    </div>
                    <div>
                        <p class="text-success" ng-show="requestSentSuccessfully" style="font-size:small;"><strong>Request Sent Successfully</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>